<h3><a class="btn btn-secondary" href="/restaurant"><i class="fa fa-plus"></i> Create New</a> Restaurant List</h3>

        {{#each list}}
        
<div class="card" style="width: 18rem;">
  <img src={{this.imageURL}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.restaurantName}}</h5>
    <p class="card-text">{{this.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{this.ownerName}}</li>
    <li class="list-group-item">{{this.restaurantSlogan}}</li>
   
  </ul>
  <div class="card-body">
      <a href="/restaurant/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/restaurant/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </div>
        {{/each}}
    


  </div>
</div>

        
